NET "a" LOC = P51 | IOSTANDARD = LVTTL;
NET "b" LOC = P50 | IOSTANDARD = LVTTL;
NET "ci" LOC = P41 | IOSTANDARD = LVTTL;
NET "s" LOC = P35 | IOSTANDARD = LVTTL | PULLDOWN;
NET "co" LOC = P31 | IOSTANDARD = LVTTL | PULLDOWN;
NET "c" LOC = P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "d" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;
NET "e" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;
NET "f" LOC = P27 | IOSTANDARD = LVTTL;
NET "g" LOC = P29 | IOSTANDARD = LVTTL;